[submodule "code/src/utils/mavsdk"]
	path = code/src/utils/mavsdk
	url = https://github.com/mavlink/MAVSDK.git
[submodule "code/src/utils/thread/thread_pool"]
	path = code/src/utils/thread/thread_pool
	url = https://github.com/mcelhennyi/thread_pools.git
[submodule "code/src/system/controller/gym_scarecrow"]
	path = code/src/system/controller/gym_scarecrow
	url = https://github.com/ajberlier/gym-scarecrow.git
